html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Uber Move Text', system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: #fff;
}
.brand-title {
    margin: 1rem;
    font-size: 2rem;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: #fff;
}
.navbar-links li:hover {
    cursor: pointer;
    background-color: #555;
    border-radius: 25px;
}
button:hover {
    cursor: pointer;
    background-color: #555;
}
.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 40em) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: 0.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}

main .hero-container {
    margin: auto;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
main .hero-container .grid-container {
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 100px 400px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    position: absolute;
    top: 50px;
    left: 250px;
    background-color: white;
    color: black;
    padding: 30px 30px 0 30px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
}
main .hero-container .grid-container .grid-item a {
    color: black;
    text-decoration: none;
}
main .hero-container .grid-container .grid-item i {
    padding-bottom: 8px;
}
.grid-item1, .grid-item2, .grid-item3 {
    font-weight: bold;
}
.grid-item4 {
    grid-column: 1 / 4;
}
.grid-item4 p:nth-last-of-type(3) {
    font-size: 50px;
    font-weight: bold;
}
.btn-2 {
    color: white;
    padding: 8px;
    background-color: black;
    font-size: 14px;
    display: inline-block;
}
.grid-container i {
    display: flex;
    align-items: center;
    justify-content: center;
}
#hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}
#hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
main .hero-container .grid-container .grid-item h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.4;
}
@media (max-width: 40em) {
    main .hero-container {
        display: flex;
    }
    main .hero-photo {
        width: 100%;
    }
    .grid-container {
        width: 100%;
        margin-left: -100%;
    }
    main .hero-container .hero-photo img {
        max-width: 100vw;
    }
    main .hero-container .grid-container {
        left: 0;
        grid-template-rows: 85px 300px;
        overflow: visible;
    }
    main .hero-container .grid-container .grid-item h1 {
        font-size: 2rem;
    }
    main .hero-container .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .hero-container .grid-container .grid-item {
        padding-bottom: 25px;
    }
    main .hero-container .grid-container .grid-item p {
        white-space: initial;
    }
}
main h2 {
    padding-left: 14rem;
}
main .main-content-flexbox-container {
    margin: 0;
    padding: 0;
    background-color: red;
}
main .main-content-flexbox-container .flexbox-item {
    top: 0px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem 6rem 10rem;
    justify-content: space-evenly;
    align-items: flex-start;
}
main .main-content-flexbox-container .flexbox-item img {
    max-width: 100vw;
    justify-content: center;
    align-items: center;
}
main .main-content-flexbox-container .flexbox-item1 {
    float: left;
    left: 50vw;
}
main .main-content-flexbox-container .flexbox-item2 {
    float: right;
    right: 50vw;
}
main .main-content-flexbox-container .flexbox-item h3, p, a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    white-space: initial;
}
main .main-content-flexbox-container h3 {
    padding-left: 150px;
}
main .main-content-flexbox-container a {
    text-decoration: none;
    border-bottom: 2px solid lightgray;
    color: black;
}
@media (max-width: 40em) {
    main h2 {
        padding-left: 1rem;
        justify-content: center;
        align-items: center;
    }    
    main .main-content-flexbox-container .flexbox-item {
        justify-content: center;
        align-items: center;
    }
    main .main-content-flexbox-container .flexbox-item h3 {
        padding-left: 0;
    }
    main .main-content-flexbox-container .flexbox-item a {
        padding-top: 1rem;
    }
    main .main-content-flexbox-container .flexbox-item p {
        white-space: wrap;
        overflow: hidden;
        margin: 0 -100%;
        overflow-wrap: normal;
    }
}
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation:portrait) 
{   
    main h2 {
        margin: 0;
        padding-top: 0;
        justify-content: center;
        align-items: center;
    }
    main .main-content-flexbox-container .flexbox-item1 {
        width: 100vw;
    }
    main .main-content-flexbox-container .flexbox-item2 {
        width: 100vw;
    }
    main .main-content-flexbox-container .flexbox-item {
        padding: 2rem 4rem 2rem 4rem;
    }
    main .main-content-flexbox-container {
        margin: 0;
        padding: 0;
    }
}
main .section-content-flexbox-container {
    display: flex;
    flex-direction: row;
    padding: 7rem 14rem;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}
main .section-content-flexbox-container .flexbox-item a {
    text-decoration: underline;
    color: black;
}
main .section-content-flexbox-container .flexbox-item i {
    font-size: larger;
}
@media (max-width: 40em) {
    main .section-content-flexbox-container {
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding-left: 3rem;
    }
}
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation:portrait) {
        main .section-content-flexbox-container {
            gap: 8rem;
        }    
    }
footer {
    width: 100%;
    padding: 1rem 2rem;
    background-color: black;
    color: #fff;
}
footer .footer-container .footer-item a {
    color: #fff;
    text-decoration: none;
    padding-top: 3rem;
    font-size: larger;
}
footer .footer-container .footer-item1 {
    display: flex;
    justify-content: flex-end;
    padding-right: 7rem;
}
footer .footer-container .footer-item2 {
    font-weight: bolder;
    padding-left: 4rem;
    font-size: larger;
}
footer .footer-container .footer-item3 {
    font-weight: bolder;
    padding-left: 4rem;
}
footer .footer-container .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
footer .footer-container .flex .footer-item h3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
footer .footer-container .flex .footer-item ul {
    display: flex;
    flex-direction: column;
}
footer .footer-container .flex .footer-item ul li a{
    margin: 0;
    padding: 0;
}
.company li a {
    color: #fff;
    text-decoration: none;
}
.products  li a {
    color: #fff;
    text-decoration: none;
}
.global  li a {
    color: #fff;
    text-decoration: none;
}
.travel  li a {
    color: #fff;
    text-decoration: none;
}
.social  li a {
    color: #fff;
    text-decoration: none;
}
.copyright  li a {
    color: #fff;
    text-decoration: none;
}
.etc  li a {
    color: #fff;
    text-decoration: none;
}
footer .footer-container .flex .footer-item ul li {
    padding-bottom: 1rem;
}
footer .footer-container .footer-item p {
    padding-left: 4.4rem;
    font-size: 1.25rem;
}
footer .footer-container .footer-item ul {
    list-style-type: none;
}
footer .footer-container .footer-item .social {
    display: flex;
    justify-content: flex-start;
}
footer .footer-container .social li a {
    padding-left: 2rem;
}
footer .footer-container .footer-item .copyright {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 4.4rem;
}
footer .footer-container .footer-item .etc{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
footer .footer-container .footer-item ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
footer .footer-container .footer-item .etc ul li a {
    padding-left: 1rem;
    padding-right: 2.5rem;
}
footer .footer-container .flex .footer-item h3 {
    padding-left: 2.5rem;
}
footer .footer-container .footer-item ul li a{
    display: inline-block
}
@media (max-width: 40em) {
    footer .footer-container .flex {
        display: flex;
        flex-direction: column;
    }
    footer .footer-container .footer-item .social {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
    footer .footer-container .social li p:nth-last-of-type(-n+2) {
        display: none;
    }
    footer .footer-container .footer-item etc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer .footer-container .footer-item .etc ul li a {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    footer .footer-container .footer-item .copyright {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
}